<article class="round">
  <header>
    <p class="combat-id"><%= t ".combat_id", id: @round.combat_id %></p>
    <h1 class="round-number"><%= t ".round_number", number: @round.number %></h1>
  </header>
</article>
