<section class="skill">
  <label class="cell row-head">
    <span>Nouvelle compétence</span>
    <input type="text" placeholder="Ajouter une compétence d'arme">
  </label>
  <label class="cell dev-cost">
    <span>Coût de développement</span>
    <input type="text">
  </label>
  <fieldset class="skill-ranks">
    <%= skill_rank_checkboxes(0) %>
  </fieldset>
  <label>
    <span>Bonus de degrés de maîtrise</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus de caractéristique</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus de niveau</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus d'object</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus divers</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus divers</span>
    <input type="text">
  </label>
  <label>
    <span>Bonus divers</span>
    <input type="text">
  </label>
  <label class="cell total">
    <span>Bonus total</span>
    <input type="text">
  </label>
</section>