/* Application custom properties */

:root {
  --clr-black: #353535;
  --clr-white: #fff;
  --clr-grey: #D9D9D9;
  
  --ff-heading: 'Montserrat', sans-serif;
  --ff-subheading: 'Rakkas', cursive;
  --ff-body: 'Cormorant Garamond', serif;
  
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.333rem;
  --fs-600: 1.777rem;
  --fs-700: 2.369rem;
  --fs-800: 3.157rem;
  --fs-900: 4.209rem;

  --fs-body: var(--fs-400);
}

/* CSS reset (from https://piccalil.li/blog/a-modern-css-reset) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

/* Application styles */

body {
  margin: 0;
  background: var(--clr-white);
  
  font-family: var(--ff-body);
  color: var(--clr-black);
  font-size: var(--fs-body);
}

button,
input[type='submit'] {
  padding: 0.25em;
  font-family: inherit;
}

h1 {
  margin: 0.5em 0;
  
  font-size: var(--fs-900);
  font-family: var(--ff-heading);
  text-align: center;
}

/* Utility classes */

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* We don't want to have to take the <turbo-frame> elements into account when using grid or flexbox */
turbo-frame {
  display: contents;
}

/* Home page */

.home_action {
  padding: 0.25em;
  
  text-align: center;
  font-size: var(--fs-500);
}
