.round {
  max-width: 1044px;
  height: 100vh;
  
  margin: 0 auto;
  
  section > h1 {
    display: none;
  }
  
  header {
    text-align: center;
    position: relative;
    padding: 2em 0;
    
    h1 {
      font-size: 3rem;
      font-family: var(--ff-heading);
    
      line-height: 1;
      margin: 0;
    
      position: relative;
      display: inline-block;
    }
  
    h1::before, h1::after {
      content: "";
      height: 100%;
      display: block;
      position: absolute;
    }
  
    h1::before {
      background-color: var(--clr-white);
      z-index: -1;
      left: -1ch;
      right: -1ch;
    }
  
    h1::after {
      background-color: var(--clr-black);
      width: 100vw;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: -2;
    }
    
    .combat-id {
      position: absolute;
      top: 0.5em;
      right: 0;

      font-size: 0.6rem;

      color: var(--clr-black);

      z-index: 1;
    }
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
  }
  
  #phase-controls {
    display: grid;
    grid-template-columns: 1fr min-content;
    
    grid-column: 1 / -1;
  }
  
  .next-phase {
    grid-column: -2 / -1;
  }
  
  #combatants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    
    .combatant-panel {
      border: 1px solid var(--clr-black);
      background-color: var(--clr-white);
      
      display: grid;
      grid-template-columns: minmax(70px, 1fr) 3fr;
      grid-template-areas: "combatant actions"
                           "activity  actions";
      
    }

    .combatant {
      grid-area: combatant;
      
      display: flex;
      align-items: flex-start;
      
      background-color: var(--clr-grey);
      
      & > h1 {
        margin: 0 0 0.5em 0.5em;
        order: 2;
      }
    }
    
    .activity {
      grid-area: activity;
      
      display: block;
      width: 100%;

      border: 1px solid var(--clr-black);
      border-left: 0;
      border-bottom: 0;
      background: repeating-linear-gradient(to right, var(--clr-black), var(--clr-white) 1px, var(--clr-white) 10%);
    }
    .activity::-webkit-meter-bar {
      background: repeating-linear-gradient(to right, var(--clr-black), var(--clr-white) 1px, var(--clr-white) 10%);
    }

    .activity:-moz-meter-optimum::-moz-meter-bar {
      background: var(--clr-black);
    }

    .activity::-webkit-meter-optimum-value {
      background: var(--clr-black);
    }

    .round-actions {
      grid-area: actions;
    }
  }
  
  #phases-tracker {
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    
    align-self: start;
    
    .current-phase {
      font-weight: bold;
    }
  }
}
